#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
/driver-location-service/src/main/resources/META-INF/resources/static/
/driver-location-service/src/main/resources/META-INF/resources/asset-manifest.json
/driver-location-service/src/main/resources/META-INF/resources/favicon.ico
/driver-location-service/src/main/resources/META-INF/resources/index.html
/driver-location-service/src/main/resources/META-INF/resources/logo192.png
/driver-location-service/src/main/resources/META-INF/resources/logo512.png
/driver-location-service/src/main/resources/META-INF/resources/manifest.json
/driver-location-service/src/main/resources/META-INF/resources/robots.txt
/driver-location-analytics-service/src/main/resources/META-INF/resources/static/
